@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100%;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #56CCF2;
}

nav li {
    margin-left: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 50px;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.logo {
    margin-left: 50px;
    font-size: 28px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.btn {
    background-color: #27AE60;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

.btn:hover {
    background-color: #3e8e41;
}

main {
    height: 100%;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main p {
    font-size: 48px;
    text-align: center;
    line-height: 70px;
}

main .btn {
    margin-bottom: 25vh;
    padding: 20px;  
    font-size: 28px;
}

/* Breakpoints */
@media only screen and (max-width: 768px) {
    main p {
        font-size: 38px;
    }

    main .btn {
        margin-bottom: 0;
        font-size: 25px;
    }
}

@media only screen and (max-width: 425px) {
    main p {
        font-size: 25px;
        line-height: 45px;
    }

    main .btn {
        margin-bottom: 60px;
        font-size: 25px;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: #56CCF2;
    }

    .logo {
        margin-left: 0;
        font-size: 28px;
        color: white;
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }

    .nav {
        display: flex;
        justify-content: space-around;
    }

    .nav .btn {
        display:none;
    }
   
}